<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Jobs</h3>
</div>

<div ng-app="app" class="modal-body" id="modal-body">
    <form class="form-horizontal" name="contact">
        <div class="form-group">
            <label class="col-lg-3 control-label">Name :</label>
            <div class="col-lg-8">
                <input class="form-control" type="text" id="name" name="name" ng-model="jobsForm.name "></div>
        </div>

    </form>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-danger" type="button" ng-click="deleteJob()">Delete</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>