<html>
<head ng-app="app" ng-controller="IncomingDocumentController">
    <title>IncomingDocuments</title>

</head>
<body>

<div class="wrapper">
    <div class="table-person">
        <h2 class="h2-header">IncomingDocuments
            <img class="imageHeader" src="/app/img/documentCreate.png">
            <button ng-click="vm.openModal()" class="label label-success">Create</button>
        </h2>

        <div class="table-person-after-header">
            <table class="table-person-container">

                <thead>
                <tr class="table-header-row">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Text</th>
                    <th>RegNumber</th>
                    <th>Info</th>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr class="table-body-row" ng-repeat="incomingDocument in rootIncomingDocuments track by $index">
                    <td>{{ $index + 1 }}</td>
                    <td><a ng-click="vm.openModal(incomingDocument)">{{ incomingDocument.name }}</a></td>
                    <td>{{ incomingDocument.text }}</td>
                    <td>{{ incomingDocument.regNumber }}</td>
                    <td>
                        <button ng-click="vm.info(incomingDocument)" class="info-button">info</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tabs-info">
        <div class="tab-scroll-box">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in vm.tabs" ng-class="{true:'active',false:''}[tab==vm.activeTabNo]">
                    <a ng-click="vm.activateTab(tab)">{{tab.index}}
                        <img style="max-height: 20px" src="/app/img/document.png"><i
                                class="glyphicon glyphicon-remove" ng-click="vm.remove($index)"></i></a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane" ng-repeat="tab in vm.tabs"
                 ng-class="{true:'active',false:''}[tab==vm.activeTabNo]">
                <div ng-app="app" class="modal-body" id="modal-body">

                    <label class="label-table-info">Document</label>
                    <form class="form-horizontal" name="contact">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="fullName" name="fullName"
                                       ng-model="tab.name "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Text:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="text" name="text"
                                       ng-model="tab.text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">RegNumber:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="regNumber" name="regNumber"
                                       ng-model="tab.regNumber "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Creating Date:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="creatingDate" name="creatingDate"
                                       ng-model="tab.creatingDate "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Number:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="number" name="number"
                                       ng-model="tab.number "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Date Of Registration:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="dateOfRegistration"
                                       name="dateOfRegistration"
                                       ng-model="tab.dateOfRegistration "></div>
                        </div>
                    </form>


                    <label class="label-table-info">Author</label>
                    <form class="form-horizontal" name="contact">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Second Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="author" name="author"
                                       ng-model="tab.author.secondName "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">First Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="authorfirst" name="authorfirst"
                                       ng-model="tab.author.firstName "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last Name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="lastName" name="lastName"
                                       ng-model="tab.author.lastName "></div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Birth Day:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" id="birthDay" name="birthDay"
                                       ng-model="tab.author.birthDay "></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>