<html>
<head ng-app="app" ng-controller="PersonController">
    <title>Persons</title>
    <head>
<body>

<h2 class="spielbox">Persons
    <img style="max-height: 30px" src="/app/img/userIcon.png">
    <button ng-click="openModal()" class="label label-success">Add</button>
</h2>

<div class="splitleft">
    <div class="centered">
        <table class="table-person">
            <thead>
            <tr>
                <th>Id</th>
                <th>Second Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Staff info</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in rootPersons" ng-class="{active : isSelected(person)}">
                <td>{{ $index + 1 }}</td>
                <td><a ng-click="openModal(person)">{{ person.secondName }}</a></td>
                <td><a ng-click="openModal(person)">{{ person.firstName }}</a></td>
                <td><a ng-click="openModal(person)">{{ person.lastName }}</a></td>
                <td>
                    <button ng-click="info(person)" class="info-button">info</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="splitright">
    <div class="centered2">
        <div class="tablebox">
            <div class="tablecontent">
                <ul class="nav nav-tabs">

                    <li ng-repeat="tab in tabs" ng-class="{true:'active',false:''}[tab==activeTabNo]">
                        <a href="javascript:void(0)" ng-click="activeTab(tab)">{{tab.index}}
                            <img style="max-height: 20px" src="/app/img/user.png"><i
                                class="glyphicon glyphicon-remove" ng-click="remove($index)"></i></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" ng-repeat="tab in tabs" ng-class="{true:'active',false:''}[tab==activeTabNo]">
                        <div ng-app="app" class="modal-body" id="modal-body">

                            <form class="form-horizontal" name="contact">
                                <label>Organization</label>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Full name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="fullName" name="fullName"
                                               ng-model="tab.organization.fullName "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Short Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="shortName" name="shortName"
                                               ng-model="tab.organization.shortName"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Supervisor:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="supervisor" name="supervisor"
                                               ng-model="tab.organization.supervisor "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Contact Numbers:</label>
                                    <div class="col-lg-8">
                                        <textarea class="form-control" rows="2" name="contactNumbers"
                                                  ng-model="tab.organization.contactNumbers "></textarea>
                                    </div>
                                </div>
                                <button ng-if="activeTabNo!=0" ng-click="openOrganizationModal()" class="info-button">
                                    Edit
                                </button>
                            </form>

                            <br>
                            <form class="form-horizontal" name="contact">
                                <label>Department</label>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Full name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="fullNameDep" name="fullNameDep"
                                               ng-model="tab.department.fullName "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Short Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="shortNameDep" name="shortName"
                                               ng-model="tab.department.shortName"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Supervisor:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="supervisorDep" name="supervisor"
                                               ng-model="tab.department.supervisor "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Contact Number:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="contactDep" name="supervisor"
                                               ng-model="tab.department.contactNumber "></div>
                                </div>
                                <button ng-if="activeTabNo!=0" ng-click="openDepartmentModal()" class="info-button">
                                    Edit
                                </button>
                            </form>

                            <br>
                            <form class="form-horizontal" name="contact">
                                <label>Job</label>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Job name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="jobname" name="fullNameDep"
                                               ng-model="tab.job.name "></div>
                                </div>

                                <button ng-if="activeTabNo!=0" ng-click="openJobModal()" class="info-button">Edit
                                </button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>