<html>
<head ng-app="app" ng-controller="OutgoingDocumentController">
    <title>OutgoingDocuments</title>

    <head>
<body>

<h2 class="spielbox">OutgoingDocuments
    <img class="imageHeader" src="/app/img/documentCreate.png">
    <button ng-click="openModal()" class="label label-success">Create</button>
</h2>

<div class="splitleft">
    <div class="centered">
        <table class="table-department">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>RegNumber</th>
                <th>Info</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="outgoingDocument in rootOutgoingDocuments track by $index"
                ng-class="{active : isSelected(outgoingDocument)}">
                <td>{{ $index + 1 }}</td>
                <td><a ng-click="openModal(outgoingDocument)">{{ outgoingDocument.name }}</a></td>
                <td>{{ outgoingDocument.text }}</td>
                <td>{{ outgoingDocument.regNumber }}</td>
                <td>
                    <button ng-click="info(outgoingDocument)" class="info-button">info</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="splitright">
    <div class="centered2">
        <div class="tablebox">
            <div class="tablecontent">
                <div class="content-box">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs" ng-class="{true:'active',false:''}[tab==activeTabNo]">
                            <a href="javascript:void(0)" ng-click="activeTab(tab)">{{tab.index}}
                                <img style="max-height: 20px" src="/app/img/document.png"><i
                                    class="glyphicon glyphicon-remove" ng-click="remove($index)"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">

                    <div class="tab-pane" ng-repeat="tab in tabs" ng-class="{true:'active',false:''}[tab==activeTabNo]">

                        <div ng-app="app" class="modal-body" id="modal-body">
                            <label>Document Info</label>
                            <form class="form-horizontal" name="contact">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="fullName" name="fullName"
                                               ng-model="tab.name "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Text:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="text" name="text"
                                               ng-model="tab.text"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">RegNumber:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="regNumber" name="regNumber"
                                               ng-model="tab.regNumber "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Creating Date:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="creatingDate" name="creatingDate"
                                               ng-model="tab.creatingDate "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Delivery Type:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="number" name="number"
                                               ng-model="tab.deliveryType "></div>
                                </div>


                            </form>


                            <label>Author Info</label>
                            <form class="form-horizontal" name="contact">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Second Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="author" name="author"
                                               ng-model="tab.author.secondName "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">First Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="authorfirst" name="authorfirst"
                                               ng-model="tab.author.firstName "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Last Name:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="lastName" name="lastName"
                                               ng-model="tab.author.lastName "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Birth Day:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" id="birthDay" name="birthDay"
                                               ng-model="tab.author.birthDay "></div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>