html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
}

.wrapper{
    display: flex;
}
.table-person{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: block;
    flex: 0 1 40%;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
}
.table-person-container{
    border: 1px double black;
    width: 100%;
}
.tabs-info{
    flex: 0 0 60%;
    font-size: 16px;
    padding: 0 3%;
}

.table-header-row{
    background: SteelBlue;
    color: white;
    border: 1px double black;
}

.table-body-row{
    text-align: center;
    border: 1px double black;
}

.table-body-row td{
    border: 1px double black;
}

.table-body-row td:nth-child(2){
    cursor: pointer;
    color: #1A87B9;
}

.table-body tr:nth-child(even){
    background: WhiteSmoke;
    border: 1px solid black;
}
.label-table-info{
    margin: 0 50%;
}
.table-info-button{
    margin: 0 50%;
}
.table-person-container thead{
    position: sticky;
    top: 0;
    border: 1px solid black;
}
.table-person-after-header{
    display: block;
    height: 700px;
    overflow-y: scroll;
}
.tab-scroll-box{
    height: 100px;
    overflow-y:scroll ;
}

.navbar-brand > img {
    max-width: 85px;
}


.imageHeader {
    max-height: 30px;
}


.spielbox {
    width: 30%;
    background: SteelBlue;
    margin: 1.5% 3%;
    padding: 0.5%;
    color: white;

}

.blue-button {
    background: #25A6E1;
    padding: 3px 5px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 4px;
    border: 1px solid #1A87B9
}

.red-button {
    background: #CD5C5C;
    padding: 3px 5px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 4px;
    border: 1px solid #CD5C5C
}

.table-document {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    border: 2px double black;
    height: 600px;
    overflow-y: scroll;
    display: block;
}

.table-document th{
    background: SteelBlue;
    color: white;
    border: 1px double black;
}

.table-document tr:nth-child(even){
    background: WhiteSmoke;
    border: 1px solid black;
}

.table-document tr td:nth-child(2){
    text-align: center;
    border: 1px solid black;
    text-decoration: underline;
    cursor: pointer;
    color: #1A87B9;
}

.table-document tr td:nth-child(2){
    text-align: center;
    border: 1px solid black;
    text-decoration: underline;
}
.table-document tr td:nth-child(3),table-document tr td:nth-child(4),table-document tr td:nth-child(5){
    text-align: center;
    font-family: monospace;
}

.table-document td,th{
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid black;
}


.organization-form {
    margin-left: 75px;
}

.red-button-organization {
    background: #CD5C5C;
    margin-left: 50px;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 4px;
    border: 1px solid #CD5C5C
}

.info-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}


.splitleft {
    height: 70%;
    width: 50%;
    position: absolute;
    left: 0;
}

.splitright {
    height: 60%;
    width: 60%;
    position: absolute;
    right: 0;
}

.centered {
    position: absolute;
    top: 42%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered2 {
    position: absolute;
    top: -20%;
    left: 0%;
    text-align: center;
}

.tab-content {
    width: 600px;
}

.content-box {
    width: 1150px;
    height: 100px;
    overflow-y: scroll;

}

