.info,
.success,
.warning,
.error,
.validation {
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px;
    position: absolute;
}
